
/*Estructura hexagonal: SI*/
/*Comentarios introducidos: SI*/
/*Idiomas: SI*/

/*Vamos a implementar el triangulo de favoritos*/
.favorito-ribbon {
  position: absolute;/*Lo movemos para ponerlo justo en la esquina de la foto*/
  top: 0;/*Pegado arriba del todo*/
  right: 0;/* Pegado a la derecha del todo */
  width: 0;/* Le damos ancho 0*/
  height: 0;/* Y le damos altura 0*/
  border-style: solid;/*Activamos el borde solido*/
  border-width: 0 45px 45px 0;/* Creamos el borde para definir el tamaño del triangulo*/
  border-color: transparent #198754 transparent transparent;/*Pintamos solo el borde derecho*/
  z-index: 10;/*Ponemos por encima de lo que es la card*/
}

/* Este para el icono de la estrella que metemos dentro */
.favorito-ribbon i {
  position: absolute;/* Para moverlo con libertad */
  top: 5px;/* Un poco a ojo como queda*/
  right: -40px;/*Lo mismo*/
  color: white;/*para destacar sobre el fondo verde*/
  font-size: 0.9rem;/*Ajustamos el tamaño de la estrella*/
  line-height: 1;/*Evitamos espacio entre lineas*/
}