.header{
    color: black;
    background-color: aqua;
}
.nav-link.color_opciones{
    color: rgb(36, 34, 34);
    text-decoration: none;
}
.formato_titulo{
    text-align: center;
    background-color: rgb(88, 181, 150);
    padding: 10px;
    margin: 0px;
    border: 2px solid;
}